release-assets/*.zip
work/**/render/
work/**/checks/
work/**/checks_final/
work/**/build/**/*.log
work/**/build/**/*.aux
work/**/build/**/*.out
work/**/build/**/*.toc
work/**/build/**/*.fdb_latexmk
work/**/build/**/*.fls
work/**/build/**/*.xdv
work/p12_corpus_master_v1_3/build/master/*_united.pdf
work/p12_corpus_master_v1_3/bundle/*.zip
work/p12_corpus_master_v1_3/render/
**/__pycache__/
*.py[cod]
*.aux
*.out
*.toc
*.synctex.gz
